@page
@model LoginModel

@{
    ViewData["Title"] = "Đăng Nhập";
}

<div class="parent clearfix">
    <div class="bg-illustration">
    </div>
    <div class="login">
        <div class="container" style="margin: 0px ;margin-top:40px">
            <h1>Đăng nhập để truy cập<br />Tài khoản của bạn</h1>
            <div class="login-form" style="margin-top : 50px">
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.EmailOrAccountName " class="form-control" placeholder="Email Hoặc Tài Khoản " />
                        <span asp-validation-for="Input.EmailOrAccountName " class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control" placeholder="Mật Khẩu" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-0">Đăng Nhập</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký tài khoản mới?</a>
                        </p>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
